<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>CinemaManageSystem</display-name>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>fillter.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>fillter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Role_ManageFilter</filter-name>
        <filter-class>fillter.Role_ManageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Role_ManageFilter</filter-name>
        <url-pattern>/manager</url-pattern>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/staff</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>servlet_Login</servlet-name>
        <servlet-class>controller.servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByTypeServlet</servlet-name>
        <servlet-class>controller.FilterByTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovieServlet</servlet-name>
        <servlet-class>controller.SearchMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovie</servlet-name>
        <servlet-class>controller.SearchMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdAccountServlet</servlet-name>
        <servlet-class>controller.AdAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controller.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessManage</servlet-name>
        <servlet-class>controller.AccessManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginByGoogle</servlet-name>
        <servlet-class>loginbygoogle.LoginByGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>controller.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controller.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>controller.ManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailFilmServlet</servlet-name>
        <servlet-class>controller.DetailFilmServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ActiveServlet</servlet-name>
        <servlet-class>controller.ActiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedback</servlet-name>
        <servlet-class>controller.DeleteFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoucherServlet</servlet-name>
        <servlet-class>controller.AddVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>controller.VoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVoucher</servlet-name>
        <servlet-class>controller.EditVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVoucher</servlet-name>
        <servlet-class>controller.DeleteVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivatedServlet</servlet-name>
        <servlet-class>controller.ActivatedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmail</servlet-name>
        <servlet-class>controller.sendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatBookServlet</servlet-name>
        <servlet-class>controller.SeatBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resetpassword</servlet-name>
        <servlet-class>controller.Resetpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingMovieServlet</servlet-name>
        <servlet-class>controller.BookingMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingMovieServlet2</servlet-name>
        <servlet-class>controller.BookingMovieServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <servlet-class>controller.AddFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet2</servlet-name>
        <servlet-class>controller.AddFeedbackServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>controller.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>controller.AddMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieType</servlet-name>
        <servlet-class>controller.AddMovieType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMovie</servlet-name>
        <servlet-class>controller.deleteMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageMovieServlet</servlet-name>
        <servlet-class>controller.manageMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCombo</servlet-name>
        <servlet-class>controller.ManageCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeReportServlet</servlet-name>
        <servlet-class>controller.MakeReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>manager.AddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData</servlet-name>
        <servlet-class>controller.LoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData2</servlet-name>
        <servlet-class>controller.LoadData2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMovieServlet</servlet-name>
        <servlet-class>controller.editMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCombo</servlet-name>
        <servlet-class>controller.EditCombo</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>EditCombo</servlet-name>
        <url-pattern>/editCombo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCombo</servlet-name>
        <servlet-class>controller.DeleteCombo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCombo</servlet-name>
        <url-pattern>/deleteCombo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCombo</servlet-name>
        <servlet-class>controller.AddCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCombo</servlet-name>
        <url-pattern>/addCombo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>manager.DeleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEvent</servlet-name>
        <servlet-class>manager.EditEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventSetvlet</servlet-name>
        <servlet-class>controller.EventSetvlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <url-pattern>/added</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/check_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet2</servlet-name>
        <url-pattern>/added2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData</servlet-name>
        <url-pattern>/dataload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData2</servlet-name>
        <url-pattern>/dataload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailFilmServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatBookServlet</servlet-name>
        <url-pattern>/seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCombo</servlet-name>
        <url-pattern>/combo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FilterByTypeServlet</servlet-name>
        <url-pattern>/type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessManage</servlet-name>
        <url-pattern>/managemovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoucherServlet</servlet-name>
        <url-pattern>/addvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVoucher</servlet-name>
        <url-pattern>/editvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVoucher</servlet-name>
        <url-pattern>/deletevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovie</servlet-name>
        <url-pattern>/searchmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedback</servlet-name>
        <url-pattern>/deletefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveServlet</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivatedServlet</servlet-name>
        <url-pattern>/activated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdAccountServlet</servlet-name>
        <url-pattern>/adaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginByGoogle</servlet-name>
        <url-pattern>/loginbygoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeReportServlet</servlet-name>
        <url-pattern>/make</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmail</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resetpassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingMovieServlet</servlet-name>
        <url-pattern>/booking_movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingMovieServlet2</servlet-name>
        <url-pattern>/booking_movie2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/addmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieType</servlet-name>
        <url-pattern>/addType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMovie</servlet-name>
        <url-pattern>/deleteM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageMovieServlet</servlet-name>
        <url-pattern>/manageMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchMovieServlet</servlet-name>
        <url-pattern>/search2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/addevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMovieServlet</servlet-name>
        <url-pattern>/editMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/deleteevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEvent</servlet-name>
        <url-pattern>/editevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventSetvlet</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

</web-app>

